  <link rel="stylesheet" href="/css/home.css">

<body>
  
  <h1>Weekly Calendar</h1>
  <div class="btn-container">
    <button id="prev-week-btn">Previous Week</button>
    <button id="next-week-btn">Next Week</button>
  </div>

  <table class="calendar">
    <thead id="calendar-head">
      <!-- Calendar head content will be added dynamically using JavaScript -->
    </thead>
    <tbody id="calendar-body">
      <!-- Calendar body content will be added dynamically using JavaScript -->
    </tbody>
  </table>

  
</body>

<script src="dist/bundle.js">


</script>
