  <link rel="stylesheet" href="/css/week.css">

<body>
  <h1 class="weekn">Weekly Habits</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Date</th>
        <th>Habit Name</th>
      </tr>
    </thead>
    <tbody>
      <% for (let habit of habits) { %>
        <tr>
          <td><%= habit.sdate %></td>
          <td><%= habit.name %></td>
        </tr>
        <% } %> 
    </tbody>
  </table>
  <p>
    <a href="/week/next-week">Next Week</a>
    <a href="/week/previous-week">Previous Week</a>
  </p>
    
</body>




</script>
