/* Styles for the main container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

  }
  
  /* Styles for the child container */
  .child {
    background-color: #484740e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(68, 193, 36, 0.1);
    width: 350px;
    position: relative;
    top:3600%;
    left: 10%;
    
  }
  
  /* Styles for the form */
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bolder;
    font-size: medium;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  